# Sorted HTML running reports
*_report.html
*_timeline.html

# Unsorted HTML running reports
report.html*
timeline.html*

# Nextflow binary
nextflow-*-all

# Datasets (except the test one)
data/*
!data/test

# Store
store/**
!store/.gitkeep

# Singularity images: .simg and .sif
*.simg
*.sif

# nextflow log and directory
.nextflow.log*
.nextflow/

# Log and out directory
log/
out/

# Trace files
trace.txt*

# Work directory
work/

