manifest {
	name            = 'SAMI'
	author          = 'Sylvain Mareschal, Valentin Wucher'
	homePage        = 'https://github.com/HCL-HUBL/SAMI'
	description     = 'Splicing Analysis with Molecular Indexes'
	mainScript      = 'main.nf'
	version         = 'v2.1.2'
	nextflowVersion = '24.10+'
}

singularity {
	enabled = true
}

process {
	container = "library://mareschalsy/hcl/sami.sif:2.1.0"
	errorStrategy = 'retry'
	maxRetries = 1
}
