manifest {
	name            = 'SAMI'
	author          = 'Sylvain Mareschal, Valentin Wucher'
	homePage        = 'https://github.com/HCL-HUBL/SAMI'
	description     = 'Splicing Analysis with Molecular Indexes'
	mainScript      = 'main.nf'
	version         = 'v2.1.0'
	nextflowVersion = '24.04+'
}

process {
	errorStrategy = 'retry'
	maxRetries = 1
}
