/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    rnaseq Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/


manifest {

    name            = 'RNA-seq'
    author          = 'Sylvain Mareschal, Valentin Wucher'
    homePage        = 'https://gitlab.inria.fr/HCL/pipelines/rna-seq'
    description     = 'Splicing RNA-seq analysis'
    mainScript      = 'RNA-seq.nf'
    version         = '0.1'

}

profiles {

    singularity { 
        singularity.autoMounts = true
        singularity.enabled    = true 
        process.container      = 'library://vwucher/rnaseq/rnaseq:latest'
    }

}
